* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 50px;

    nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul {
            display: flex;
            gap: 30px;
            list-style: none;

            li {

                h1 {
                    font-family: sans-serif;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }

                p {
                    font-family: sans-serif;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #726E8D;
                }
            }
        }
    }
}


main {
    width: 100%;
    height: 200px;
    padding-top: 75px;

    h1 {
        font-family: sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 36px;
        line-height: 140%;
        letter-spacing: 0%;
    }
}


.main2 {
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;

    >div {
        display: flex;
        gap: 20px;
    }

    .d1 {
        margin-left: 50px;
    }

    .d2 {
        margin-right: 50px;
    }


    .d3 {
        display: none;
    }
}


.menu1 , .menu2 , .menu3 {
    width: 100%;
    height: 450px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;

    >div {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;

        p {
            font-family: sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0%;
            color: #2A254B;
            margin-top: 10px;
        }
    }
}


.bnt {
    width: 300px;
    height: 50px;
    margin-top: 50px;
    background: #F9F9F9;
    border: none;

    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

.mhdv {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;

    >div {
        width: 50%;
        height: 600px;

        img {
            width: 100%;
            height: 100%;
        }

        h1 {
            font-family: Clash Display;
            font-weight: 400;
            font-style: Regular;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #2A254B;
            margin-top: 100px;
        }

        p {
            font-family: Satoshi;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0%;
            margin-top: 50px;
            margin-left: 170px;
            color: #2A254B;
        }

        >div {
            margin-top: 200px;
            margin-left: 130px;
            width: 80%;
            height: 50px;
            background: #F9F9F9;
            display: flex;

            div {
                padding: 13px;
                padding-left: 30px;

                font-family: Satoshi;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: white;
            }

            .div1 {
                width: 70%;
                height: 50px;
                background: #F9F9F9;

                color: #2A254B;
            }

            .div2 {
                width: 30%;
                height: 50px;
                background: #2A254B;
                padding-left: 60px;
            }


        }
    }
}





.footer {
    width: 100%;
    height: 350px;
    background: #2A254B;
    display: flex;
    align-items: center;
    justify-content: space-around;

    >div {
        width: 50%;
        height: 400px;

        h1 {
            font-family: sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;
            margin-bottom: 20px;
        }

        p {
            font-family: sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #f9f9f9ba;
            margin-top: 10px;
        }
    }

    .chap {
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding-top: 100px;
    }


    .ong {
        padding-top: 100px;



        >div {
            width: 80%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            font-family: Satoshi;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;

            .div1 {
                width: 70%;
                height: 50px;
                background: #FFFFFF26;
                padding-left: 50px;
                padding-top: 12px;
            }

            .div2 {
                width: 30%;
                height: 50px;
                background: white;
                padding-left: 50px;
                padding-top: 12px;
                color: #2A254B;
            }
        }

    }
}



footer {
    width: 100%;
    height: 50px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2A254B;

    img {
        height: 100%;
        width: 25%;
        margin-right: 100px;
    }

    h3 {
        font-family: sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: white;
        margin-left: 100px;
    }
}

